[class$="-wrap"]{
    font-family: 'Koulen';
    font-size: 32px;
}
[class$="cont"]{
    font-family: 'Koulen';
    font-size: 32px;
}
body {
    background-color:rgb(26, 27, 21);
    user-select:none;
    overflow:  hidden;
}
.mainwrapper {
    margin: 0 auto;
    /* padding-bottom: 4vh; */
    overflow: hidden;
}
.header-wrap {
    /* width: calc(100% - 75px); */
    width: 100%;
    float: right;
    height: 60px;
    background-color: #212121;
}
.values {
    height: 60px;
    border-radius: 18px;
    max-width: 100%;
}
.logo {
    float: left;
    display: flex;
    font-family: 'Koulen';
    font-size: 32px;
    margin-top: auto;
    margin-bottom: auto;
    height: 60px;
    margin-left: 25px;
}
a {
    text-decoration: none;
    color:rgb(196, 48, 48);
    filter: brightness(130%);
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.avatar {
    height: 34px;
    width: 34px;
    display: flex;
    float: right;
    background-color: #818181;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 45px;
    border-radius: 50%;
}
.leftNavigation {
    background-color: #212121;
    /* background-color: #fff; */
    height: 100vh;
    width: 75px;
    display: flex;
    float: left;
}
.leftNavigationContainer {
    height: 100vh;
    width: 24px;
    display: flex;
    margin: 17px auto;
}
#burger {
    height: 24px;
    width: 24px;
    display: flex;
    float: left;
    background-color: #212121;
    margin-bottom: 18px;
    margin-top: 18px;
    margin-left: 25px;
    
}
/* //////////////////////////gameplay*/
.gameplayCont {
    display: flex;
    margin: 0 auto;
    height: 704px;
    width: 1100px;
    border: 1px solid #000;
    float: right;
}
.gameplay {
    height: 300px;
    width: 300px;
    border: 1px solid #000;
    display: flex;
    margin: 0 auto;
}