body {
    background-color:rgb(26, 27, 21);
    user-select:none;
    text-align: center;
    justify-content: center;
}
.mainwrapper {
    margin: 0 auto;
    /* padding-bottom: 4vh; */
    align-items: center;
    overflow: hidden;
    position: relative;
    top: 4vh;
}
[class$="-wrap"]{
    font-family: 'Koulen';
    font-size: 32px;
}
[class$="cont"]{
    font-family: 'Koulen';
    font-size: 32px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////// pre */
.pre {
    text-align: center;
    position: absolute;
    top:37%;
    right: 44%;
}
.welcome {
    color: black;
    font-weight: bold;
}
.preOpen {
    display: block;
}
/* .preClose {
    display: none;
} */
.preCloseAnimation {
    animation: preHider 1s linear ;
}
/* .contentWrapAnimation { */
    /* animation: preClick 5s linear ; */
    /* background-color: #191551; */
    /* background: linear-gradient(#191551, #87ceeb); */
    /* border: 1px solid black; */
/* } */
/*////////////////////////////////////////////////////////////////////////////////////// header */
/* .header-border {
    border-bottom: 1px solid #000;

} */
.header-wrap {
    max-width: 1200px;
    margin: 0 auto;
    height: 42px;
}
.headercont {
    border-radius: 11px;
    border: 1px solid #000;
    background-color: #fff;
    max-width: 952px;
    padding: 6px 0 5px 0;
    margin: 0 auto;
    height:42px;
}
.icon {
    width: 30px;
    height: 30px;
    border-radius: 18px;
    border: 1px solid black;
    background-color:rgb(26, 27, 21);
    display: flex;
    flex-direction: row;
    margin-left: 6px;
    flex-wrap: nowrap;
    float: right;
}
.logo {
    flex-wrap: nowrap;
    float: left;
    display: flex;
    align-items: center;
    margin-top: 7px;
    font-family: 'Koulen';
    font-size: 32px;
    /* border: 1px solid rgb(255, 255, 255); */
}
p > .logo{
    align-items: center;
    display: block;
}
a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}
/* content */
.content-wrap {
    max-width: 1200px;
    height: 704px;
    border-radius: 18px;
    margin: 0 auto;
    /* background-color: rgb(76, 77, 82); */
}
.margincont {
    max-width: 1146px;
    height: 704px;
    position: relative;
    margin: 0 auto;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.navbar-grid {
    display: flex;
    flex-wrap: wrap;
    width: 70px;
    height: 60%;
    position: absolute;
    bottom:18.6%;
    margin-right: 27px;
}
.accordionClose {
    display: none;
}
.accordionOpen {
    /* flex: 1 1 auto; */
    height: 70px;
    width: 70px;
    border-radius: 18px;
    display: block;
    margin-bottom: 9px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #fff;
}
#mainbar {
    /* flex: 1 1 auto; */
    border: 1px solid rgb(0, 0, 0);
    background-color: #fff;
    height: 70px;
    width: 70px;
    border-radius: 18px;
    margin-bottom: 9px;
    position: absolute;
    display: block;
}
.mainbarOpen {
    /* animation: mainbarisOpen 0.1s linear; */
    top:-20%;
    overflow: hidden;
}
.mainbarClose {
    /* animation: mainbarisClose 0.12s linear; */
    top:34.5%;
}
/* ///////////////////////////////////////////////////////////вынести селекторы для шопа и навбара, суперсхожи/////////////////////////////////////////////////// */
.shop-grid {
    display: flex;
    flex-wrap: wrap;
    right: 0;
    width: 70px;
    height: 60%;
    position: absolute;
    bottom:18.6%;
    margin-left: 27px;
    margin-right: 1px;
}
.shopClose {
    display: none;
}
.shopOpen {
    /* flex: 1 1 auto; */
    height: 70px;
    width: 70px;
    border-radius: 18px;
    display: block;
    margin-bottom: 9px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #fff;
}
#shop {
    /* flex: 1 1 auto; */
    border: 1px solid rgb(0, 0, 0);
    background-color: #fff;
    height: 70px;
    width: 70px;
    border-radius: 18px;
    margin-bottom: 9px;
    position: absolute;
    display: block;
}
.mainbarShopOpen {
    /* animation: mainbarisOpen 0.1s linear; */
    top:-20%;
    overflow: hidden;
}
.mainbarShopClose {
    /* animation: mainbarisClose 0.12s linear; */
    top:34.5%;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////.............. */
nav {
    margin-left: 1px;
}
.menu {
    display: block;
    margin-left: -2px;
    margin-bottom: -5px;
}
a:hover {
    filter: brightness(130%);
}
.contentcont {
    max-width: 950px;
    margin: 0 auto;
}
/*////////////////////////////////////////////////////////////////////////////////////values*/
.values {
    height: 60px;
    border-radius: 18px;
    max-width: 100%;
}
.value__item__cont {
    height: 46px;
    display: flex;
    /* margin: 7px 10px 7px 10px; */
    /* justify-content: center; */
    float: right;
    position: relative;
    top: 10%;
}
.value__item__cont > div {
    background-color:rgb(71, 71, 71);
    border: 1px solid rgb(255, 255, 255);
}
.value__item {
    width: 104px;
    height: 22px;
    display: flex;
    float: right;
    background-color: rgb(255, 255, 255);
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 10px;
}
/* .value__icon {
    height: 22px;
    background-color: rgb(116, 116, 116);
    width: 22px;
} */
.coin {
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: right;
}
/* .plus__icon {
    height: 22px;
    background-color: rgb(106, 54, 54);
    width: 22px;
    position: relative;
    display: flex;
    left: 50px;
} */
.avatar {
    height: 30px;
    width: 30px;
    display: flex;
    float: right;
    background-color: rgb(255, 255, 255);
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    border-radius: 50%;
}
.avatarArrow {
    float: right;
    height: 16px;
    width: 16px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*//////////////////////////////////////////////////////////////////////////////////gameplay*/
.gameplay {
    height: 502px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 18px;
}
.clickZone {
    width: 170px;
    height: 500px;
    border-right: 1px solid #000;
    display: flex;
    float: left;
    background-color: rgb(194, 194, 194);
}
.clickZoneOff {
    display: none;
}
/* .shopOpen {
    width: 170px;
    height: 500px;
    border-left: 1px solid #000;
    background-color: rgb(90, 61, 61);
    display: flex;
    float: right;
    overflow: hidden;
} */
/* .shopClose {
    display: none;
}
.boost__item {
    height: 50px;
    width: 170px;
    background-color: rgb(176, 52, 52);
}
.boost__item:hover {
    filter: brightness(150%);
}
li {
    list-style-type: none;
    margin-top: 0;
    display: flex;
    margin-right: 0;
    justify-content: end;
    align-items: start;
    position: relative;
    top: -32px;
   }
ul {
    margin-left: 0; 
    padding-left: 0;
    padding-bottom: 0;
    height: 0;
    width: 0;
    }
li ~ li {
    border-top: 1px solid #000;
} */
/*///////////////////////////////////////////////////////////////////////////////////metrics*/
.metrics {
    height: 110px;
    border: 1px solid #000;
    max-width: 100%;
    margin: 0 auto;
    /* background-color: rgb(0, 110, 255); */
    background-color: #fff;
    overflow: hidden;
}
.metrics > div{
    height: 110px;
    display: flex;
    float: right;
}
.bonusChest {
    width: 170px;
    border-left: 1px solid #000;
    /* background-color: rgb(72, 0, 255); */
    background-color: #fff;
}
.bonusChest__item {
    height: 70px;
    width: 90px;
    border-radius: 18px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    justify-content: center;
}
.chestClickMetric {
    font-size: 18px;
    display: flex;
}
.metric__body {
    width: 170px;
    /* border-left: 1px solid #000; */
}
.metric__cont {
    padding-top: 19px;
    padding-bottom: 13px;
    /* background-color: rgb(0, 68, 157); */
    background-color: #fff;
}
.metric__item {
    width: 150px;
    height: 30px;
    display: flex;
    float: left;
    background-color: rgb(75, 75, 75);
    /* background-color: #fff; */
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 20px;
    justify-content: end;
    padding-right: 5px;
}
.metric__title {
    width: 170px;
    justify-content: center;
    /* background-color: rgb(0, 68, 157); */
    background-color: #fff;
    border-left: 1px solid #000;
}
.place {
    width: 260px;
    /* border-left: 1px solid #000; */
    /* background-color: rgb(0, 110, 255); */
    background-color: #fff;
}
.place__title {
    justify-content: center;
    width: 170px;
    /* background-color: rgb(0, 110, 255); */
    background-color: #fff;
}
.place__item {
    height: 90px;
    margin-top: 10px;
    width: 90px;
    display: flex;
    float: right;
    margin-left: 10px;
    border: 1px solid #000;
    margin-bottom: 10px;
}
.powerNplace {
    border: 1px solid black;
    /* background-color: rgb(74, 72, 72); */
    background-color: #fff;
}
.title__ {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* ///////////////////////////////////////////////////////////////////////////////@keyframes*/
@keyframes preClick {
    0% {
        opacity: 0;
    }/* .contentWrapAnimation */
    100% {
        opacity: 1;
    }
}
@keyframes preHider {
    0% {
        opacity: 1;
     }/* .preCloseAnimation */
    100% {
        opacity: 0;
    }
}
@keyframes mainbarisOpen {
    0%{
        top: 34.5%;
    }/* .mainbarOpen */
    100% {
        top: -20%;
    }
}
@keyframes mainbarisClose {
    0%{
        top: -20%;
    }/* .mainbarClose */
    100% {
        top: 34.5%;
    }
}