/* .browser {
    height: 32px;
    max-width: 1019px;
    margin: 0 auto;
    border: 1px solid #000;
    display: flex;
} */
/* ///////////////////////////////////////////////////////////// */
.headercont {
    max-width: 1018px;
    margin: 0 auto;
}
.content-wrap {
    height: auto;
    border-radius: 18px;
}
.margincont {
    max-width: 1173px;
    height: 1200px;
}
/* //////////////////////////////////////////////////////////// */
.aboutMe {
    justify-content: start;
    height: 248px;
    display: flex;
    float: left;
    margin-left: 27px;
    width: 827px;
    /* border: 1px solid #000; */
}
.item__photo {
    width: 200px;
    border: 2px solid #000;
    align-items: center;
    float: left;
    justify-content: center;
    margin-right: 27px;
}
.nameSurname__photo {
    width: 600px;
    float: left;
    border: 2px solid #000;
    display: flex;
}
.nameSurname__photo > p{
    margin-left: 27px;
    display: flex;
    height: 46px;
    margin-right: 27px;
}
/* /////////////////////////////////////////////////////////// */
.cherta {
    background-color: rgb(0, 0, 0);
    width: 1146px;
    height: 1px;
    margin: 0 auto;
    display: flex;
    margin-top: 24px;
    position: relative;
}
/* ///////////////////////////////////////////////////////////// */
.right-info {
    height: 100%;
    /* border: 1px solid #000; */
    display: flex;
    width: 263px;
    float: right;
    margin-right: 27px;
    margin-left: 27px;
}
.ric {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 263px;
    display: flex;
    border: 2px solid #000;
    height: 100% - 48px;
}
/* /////////////////////////////////////////////////////////////////////////// */
.aboutMe__info {
    justify-content: start;
    height: 928px;
    width: 827px;
    display: flex;
    float: left;
    margin-left: 27px;
    /* border: 2px solid #000; */
}
.amic {
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    border: 2px solid #000;
    height: 100%;
}
/* ////////////////////////////////////////////////////////////////////////////// */
[class$="__photo"]{
    height: 200px;
    display: flex;
    margin-top: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 24px;

}
.geolocation {
    margin-left: 27px;
    display: flex;
    height: 46px;
    margin-right: 27px;
    font-size: 20px;
    align-items: center;
}
[class$="__title"]{

}