
[class$="__photo"]{
    height: 200px;
    display: flex;
    margin-top: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 24px;

}
[class$="__title"]{
    display: flex;
    float: right;

}
.aboutMe {
    justify-content: center;
    height: 248px;
    display: flex;
}
.cont__photo {
    max-width: 29%;
    float: left;
    align-items: center;
    margin-right: 27px;
    /* background-color: rgb(29, 185, 125); */
    /* border: 1px solid #000; */
}
.item__photo {
    width: 200px;
    border: 1px solid #000;
    align-items: center;
    float: left;
    justify-content: center;
}
.nameSurname__photo {
    width: 69%;
    float: right;
    border: 1px solid #000;
}
.nameSurname__photo > p{
    margin-left: 27px;
}
.content-wrap {
    height: auto;
}
.margincont {
}
.cherta {
    background-color: rgb(0, 0, 0);
    width: 1146px;
    height: 1px;
    margin: 0 auto;
    display: flex;
    margin-top: 24px;
    position: relative;
}
.browser {
    height: 32px;
    max-width: 1019px;
    margin: 0 auto;
    border: 1px solid #000;
    display: flex;
}
.browser > div {
    width: 20%;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    background-color: #fff;
    align-items: center;
}
.browser > div:hover {
    filter:brightness(150%);
}
.browser > div > a {
    align-items: center;
    display: flex;
    height: 32px;
}
.browser > div > div {
    display: flex;
    border: 1px solid #000;
    width: 1019px;
    height: 400px;
}