.profile {
    /* height: 780px; */
    height: 100vh;
    width: 380px;
    border: 1px solid #000;
    display: flex;
    margin: 0 auto;
    /* opacity: 0.8; */
    background-color:rgb(26, 27, 21);
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    /* top: 7%; */
    /* left: 33%; */
    /* bottom: 0; */
    top: 0;
}

.profile > div{
    /* border: 1px solid #00010 */
    font-family: 'Koulen';
    /* font-size: 32px; */
}
.profileTitleAndClose {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profileTitleAndCloseContainer {
    width: 360px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
.closeProfile {
}
.profileTitle {
    color: aliceblue;
    margin-left: 17px;
    font-family: 'Koulen';
    font-size: 32px;
}




.progress {
    height: 100px;
    width: 100px;
    border: 10px solid #000;
    border-radius: 100%;
    /* background-color: rgb(65, 15, 215); */
    /* margin-left: -15px;
    margin-top: -15px; */
    margin-left: -4px;
    margin-top: -4px;
    display: flex;
    position: absolute;
}
.blueProgress {
    height: 120px;
    width: 120px;
    border: 15px solid rgb(104, 0, 250);
    border-radius: 100%;
    /* background-color: rgb(65, 15, 215); */
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
}
.levelcount {
    color: aliceblue;
    text-align: center;
    justify-items: center;
    display: flex;
    position: relative;
    font-size: 30px;
    margin: auto auto;
}
.nickname {
    height: 50px;
    width: 240px;
    /* margin-left: 10px; */
    margin-right: 10px;
    border: 5px solid #000;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
}
.levelexp {
    height: 20px;
    width: 120px;
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
}
.nickAndClick {
    display: flex;
    height: 140px;
    width: 100%;
    /* border: 1px solid #000; */
}
/* ///////////////////////////////////////////////// */
.idAndCopy {
    height: 50px;
    width: 100%;
    display: flex;
    /* border: 1px solid #000; */
}
.copyid {
    height: 50px;
    width: 180px;
    margin: 0 auto;
    margin-right: 23px;
    /* margin-right: 23px; */
    border: 5px solid #000;
    display: flex;
}
.id {
    height: 50px;
    width: 120px;
    border: 5px solid #000;
    /* background-color: rgb(65, 15, 215); */
    margin-left: 10px;
    display: flex;
    float: left;
}
.timeAndClan {
    height: 90px;
    width: 100%;
    display: flex;
}
.cd {
    display: flex;
    height: 120px;
    width: 100%;
}
.matches {
    display: flex;
    height: 120px;
    width: 100%;
}