.profile {
    height: 800px;
    width: 380px;
    border: 1px solid #000;
    display: flex;
    margin: 0 auto;
    opacity: 0.8;
    background-color:rgb(26, 27, 21);
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 7%;
    left: 33%;
}
.profile > div{
    border: 1px solid #000;
}
.progress {
    height: 80px;
    width: 80px;
    border: 10px solid #000;
    border-radius: 100%;
    /* background-color: rgb(65, 15, 215); */
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(168, 166, 166);
    display: flex;
}
.nickname {
    height: 50px;
    width: 240px;
    /* margin-left: 10px; */
    margin-right: 10px;
    border: 5px solid #000;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    background-color: rgb(168, 166, 166);
}
.levelexp {
    height: 20px;
    width: 120px;
    margin: 0 auto;
    display: flex;
    margin-top: 60px;
    background-color: rgb(168, 166, 166);
}
.nickAndClick {
    display: flex;
    height: 120px;
    width: 100%;
    /* border: 1px solid #000; */
}
/* ///////////////////////////////////////////////// */
.idAndCopy {
    height: 50px;
    width: 100%;
    display: flex;
    /* border: 1px solid #000; */
}
.copyid {
    height: 50px;
    width: 180px;
    margin: 0 auto;
    margin-right: 23px;
    /* margin-right: 23px; */
    border: 5px solid #000;
    display: flex;
    background-color: rgb(168, 166, 166);
}
.id {
    height: 50px;
    width: 120px;
    border: 5px solid #000;
    /* background-color: rgb(65, 15, 215); */
    margin-left: 10px;
    background-color: rgb(168, 166, 166);
    display: flex;
    float: left;
}
.timeAndClan {
    height: 90px;
    width: 100%;
    display: flex;
}
.cd {
    display: flex;
    height: 120px;
    width: 100%;
}
.matches {
    display: flex;
    height: 120px;
    width: 100%;
}